<table class="table table-dark table-hover">
  <tbody>
    <tr>
      <td>Diagonal</td>
      <td>{{ product.diagonal }}</td>
    </tr>
      <tr>
      <td>Display</td>
      <td>{{ product.display_type }}</td>
    </tr>
    <tr>
      <td>Processor freq</td>
      <td>{{ product.processor_freq }}</td>
    </tr>
    <tr>
      <td>Ram</td>
      <td>{{ product.ram }}</td>
    </tr>
    <tr>
      <td>Video</td>
      <td>{{ product.video }}</td>
    </tr>
    <tr>
      <td>Time without charge</td>
      <td>{{ product.time_without_charge }}</td>
    </tr>
  </tbody>
</table>

